{% extends 'base.html.twig' %}

{% block body %}
<div class="container text-center">
		{% for message in app.flashes('successModifMembre')%}
		<div class="div container text-center">
			<div class="div alert alert-success text-center">{{message}}</div>
        </div>
		{% endfor %}
</div>
<table class="table table-dark">
<thead>
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
        <th>Pseudo</th>
        <th>Civilité</th>
        <th>Date d'inscription</th>
        <th>Role</th>
    </tr>
</thead>

<tbody>
    <tr>
    {% for user in users %}
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.nom}}</td>
            <td>{{user.prenom}}</td>
            <td>{{user.email}}</td>
            <td>{{user.pseudo}}</td>
            <td>{{user.civilite}}</td>
            <td>{{user.dateEnregistrement|date("d/m/Y à H:i:s")}}</td>
            <td>{{ user.roles[0] }}</td>
            <td>
            <a href="{{ path('user_update', {id: user.id})}}" class="btn btn-warning">Modifier</a>
            <a href="{{ path('user_delete', {id: user.id})}}" class="btn btn-danger">Supprimer</a>
            </td>
        </tr>
    {% endfor %}
    </tr>
</tbody>
</table>
{% endblock %}